<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 pb-3" *ngFor="let art of listeArticles, index as i">
    <div class="hmax-290">
      <img class="h-100 img-fluid" src="{{art.cheminFichierImage}}" alt="image {{ art.designation }}">
    </div>
    <!-- <span>index</span><p>{{ i }}</p>
    <span>id</span><p>{{art.id}}</p> -->
    <h2>{{art.designation}}</h2>
    <p>{{art.prix}} €</p>
    <!-- <span>content</span><p>{{art.content}}</p> -->
    <p><span>categorie : </span>{{art.categorie.nom}}</p>
    <p><span>constructeur : </span>{{art.constructeur.nom}}</p>
    <span>mise en ligne le : </span><p>{{art.miseEnLigne | date : "dd/MM/yyyy"}}</p>
    <div>
      <button type="button" (click)="addArticle(art)" class="btn btn-outline-primary">
        Ajouter</button>
      <button  type="button" (click)="onSelect(art)" class="btn btn-primary ml-3" data-toggle="modal" data-target="#maModal">
          Détail
      </button>
    </div>
  <div class="modal fade"  id="maModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content p-3" >
            <div class="hmax-290">
              <img class="h-100 img-fluid" src="{{selectedArticle.cheminFichierImage}}" alt="image {{ art.designation }}">
            </div>
            <!-- <span>id</span><p>{{art.id}}</p> -->
            <h2>{{selectedArticle.designation}}</h2>
            <p>{{selectedArticle.prix}} €</p>
            <p>{{selectedArticle.content}}</p>
            <p><span>categorie : </span>{{selectedArticle.categorie.nom}}</p>
            <p><span>constructeur : </span>{{selectedArticle.constructeur.nom}}</p>
            <p><span>mise en ligne le : </span>{{selectedArticle.miseEnLigne | date : "dd/MM/yyyy"}}</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="addArticle(art)" class="btn btn-outline-primary">Ajouter</button>
            </div>
          </div>
        </div>
  </div>
</div>
</div>


