<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Création d'un article</h2>
      <form (ngSubmit)="onSubmit(articleForm.form)" #articleForm="ngForm">
        <div class="form-group">
          <label for="designation">
            Designation
          </label>
          <input #designation="ngModel" [(ngModel)]="article.designation" name="designation" type="text" id="designation"
            class="form-control" required>
          <div [hidden]="designation.valid || designation.pristine" class="alert alert-danger">
            Champ obligatoire
          </div>
        </div>
        <div class="form-group">
          <label for="stock">
            Stock
          </label>
          <input #stock="ngModel" [(ngModel)]="article.stock" name="stock" type="number" min="0" id="stock" class="form-control"
            ngModel required>
          <div *ngIf="stock.invalid && (stock.dirty || stock.touched) && stock.errors.required" class="alert alert-danger">
            Champ obligatoire
          </div>
        </div>
        <div class="form-group">
          <label for="prix">
            Prix
          </label>
          <input #prix="ngModel" [(ngModel)]="article.prix" type="number" name="prix" min="0" step="0.01" id="prix"
            class="form-control" required>
          <div *ngIf="prix.invalid && (prix.dirty || prix.touched) && prix.errors.required" class="alert alert-danger">
            Champ obligatoire
          </div>
        </div>
        <div class="form-group">
          <label for="categorie">
            Categorie
          </label>
          <select [(ngModel)]="article.categorie" #categorie="ngModel" id="categorie" name="categorie" class="form-control"
            required>
            <!-- <option value="" selected>--Please choose an option--</option> -->
            <option *ngFor="let cat of listeCategorie" value="{{ cat.id }}">{{ cat.nom }}</option>
          </select>
          <div *ngIf="categorie.invalid && (categorie.dirty || categorie.touched) && categorie.errors.required" class="alert alert-danger">
            Champ obligatoire
          </div>
        </div>
        <div class="form-group">
          <label for="constructeur">
            Constructeur
          </label>
          <select #constructeur="ngModel" [(ngModel)]="article.constructeur" name="constructeur" id="constructeur"
            class="form-control" required>
            <!-- <option value="" selected>--Please choose an option--</option> -->
            <option *ngFor="let cons of listeConstructeur" value="{{ cons.id }}">{{ cons.nom }}</option>
          </select>
          <div *ngIf="constructeur.invalid && (constructeur.dirty || constructeur.touched) && constructeur.errors.required"
            class="alert alert-danger">
            Champ obligatoire
          </div>
        </div>
        <div class="form-group">
          <label for="description">
            Description
          </label>
          <textarea #description="ngModel" [(ngModel)]="article.description" id="description" name="description" class="form-control"
            rows="5" cols="33" required maxlength="1000"></textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            <div *ngIf="description.errors.required">
              Champ obligatoire
            </div>
            <div *ngIf="description.errors.maxlength">
              1000 caractères maximum
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dateDeMiseEnLigne">
            Date de mise en ligne
          </label>
          <input #dateDeMiseEnLigne="ngModel" [(ngModel)]="article.dateDeMiseEnLigne" name="dateDeMiseEnLigne" type="date"
            min="{{ current | date:'yyyy-MM-dd'}}" id="dateDeMiseEnLigne" required>
          <div *ngIf="dateDeMiseEnLigne.invalid && (dateDeMiseEnLigne.dirty || dateDeMiseEnLigne.touched) && dateDeMiseEnLigne.errors.required"
            class="alert alert-danger">
            Champ obligatoire
          </div>
        </div>
        <div class="form-group">
          <label for="cheminFichierImage">
            Image
          </label>
          <input #cheminFichierImage="ngModel" [(ngModel)]="article.cheminFichierImage" type="file" name="cheminFichierImage"
            id="cheminFichierImage" class="form-control" required>
          <div *ngIf="cheminFichierImage.invalid && (cheminFichierImage.dirty || cheminFichierImage.touched) && cheminFichierImage.errors.required"
            class="alert alert-danger">
            Champ obligatoire
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!articleForm.form.valid">Enregistrer</button>
      </form>
      <p>{{current | date:'dd/MM/yy' }}</p>
      <!-- 2019-01-16T23:00:00.000+0000 -->
    </div>
  </div>
</div>