<!-- Button trigger modal-->
<div>
  <span class="badge bg-danger text-light mr-2">{{compteurArticle}}</span>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCart">Panier</button>
</div>
<!-- Modal: modalCart -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content pb-1">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Votre panier</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Article</th>
              <th>Prix</th>
              <th class="text-center">Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of panier; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{ article.designation }}</td>
              <td>{{ article.prix }} €</td>
              <td class="delete-article-list-container"><p class="delete-article-list" (click)="deleteArticle(article.id)">×</p></td>
            </tr>
            <tr class="total">
                <th scope="row"></th>
                <td>Total</td>
                <td class="total-prix-articles">{{ totalPrix }} €</td>
                <td></td>
              </tr>
          </tbody>
        </table>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">valider</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: modalCart -->