.delete-article-list {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: lightgrey;
    line-height: 1;
}

.delete-article-list:hover {
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

.delete-article-list-container {
    text-align: center;
}

.total-prix-articles {
    font-weight: bolder;
}