<div class="container">
  <h1>Formulaire Article</h1>
  <form (ngSubmit)="onSubmit(articleForm.form)" #articleForm="ngForm" >
    
    <div class="form-group">
      <label for="designation">Nom</label>
      <input  name="designation" type="text" id="designation" class="form-control" [(ngModel)]="article.designation"  #designation="ngModel" required>
      <div [hidden]="designation.valid || designation.pristine" class="alert alert-danger">
          Champ obligatoire
      </div> 
    </div>

    <div class="form-group">
      <label for="stock">Stock</label>
      <input  #stock="ngModel" [(ngModel)]="article.stock" name="stock" type="number" min="0" id="stock" class="form-control" required >
      <div [hidden]="stock.valid || stock.pristine" class="alert alert-danger">
          Champ numerique et obligatoire
        </div> 
    </div>

    <div class="form-group">
        <label for="prix">Prix</label>
        <input #prix="ngModel" [(ngModel)]="article.prix" name="prix" type="number" min="0" step="0.01" id="prix" class="form-control" required >
        <div [hidden]="prix.valid || prix.pristine" class="alert alert-danger">
          Champ numerique et obligatoire
      </div> 
      </div>

    <!-- <div class="form-group">
      <label for="categorie">Categorie</label>
      <select [(ngModel)]="article.categorie" #categorie="ngModel" id="categorie" name="categorie" class="form-control" required >
        <option value="" selected>--Please choose an option--</option>
        <option *ngFor="let cat of listeCategorie" value="{{cat}}" >{{ cat.nom }}</option>
      </select>
      <div [hidden]="categorie.valid || categorie.pristine" class="alert alert-danger">
        Champ obligatoire
      </div> 
    </div>   -->

    <div class="form-group">
        <label for="constructeur">Constructeur</label>
        <select #constructeur="ngModel" [(ngModel)]="article.constructeur" (change)="rechargeConstructeur($event)" id="constructeur" name="constructeur" 
         class="form-control" required> 
          <option value="" selected>--Please choose an option--</option>
          <option *ngFor="let cons of listeConstructeur" value="{{cons.id}}">{{ cons.nom }}</option>
        </select>
       <div [hidden]="constructeur.valid || constructeur.pristine" class="alert alert-danger">
          Champ obligatoire
       </div>  -
    </div> 

    <div class="form-group">
        <label for="description">Description</label>
        <textarea  #description="ngModel" [(ngModel)]="article.description" id="description" name="description" class="form-control" rows="5" cols="33" required maxlength="1000"></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.required">
            Champ obligatoire
          </div>
          <div *ngIf="description.errors.maxlength">
            1000 caractères maximum
          </div>
        </div> 
    </div>

    <div class="form-group">
        <label for="dateDeMiseEnLigne"> Date de mise en ligne </label>
        <input #dateDeMiseEnLigne="ngModel" [(ngModel)]="article.dateDeMiseEnLigne" name="dateDeMiseEnLigne" type="date" min="{{ current | date:'yyyy-MM-dd'}}" id="dateDeMiseEnLigne" required>
        <div [hidden]="dateDeMiseEnLigne.valid || dateDeMiseEnLigne.pristine" class="alert alert-danger">
          Champ obligatoire
      </div> 
      </div>

    <!-- <div class="form-group">
        <label for="cheminFichierImage">Image</label>
        <input #cheminFichierImage="ngModel" [(ngModel)]="article.cheminFichierImage" type="file" name="cheminFichierImage" id="cheminFichierImage" class="form-control" required>
        <div [hidden]="cheminFichierImage.valid || cheminFichierImage.pristine" class="alert alert-danger">
          Champ obligatoire
        </div> 
    </div>  -->

    <div class="form-group">
      <label> Image :</label>
      <img [src]="imgURL" height="200" *ngIf="imgURL"> <br/>
      <input #cheminFichierImage="ngModel" [(ngModel)]="article.cheminFichierImage" type="file" accept='image/*' (change)="onSelectFile($event)" id="cheminFichierImage" name="cheminFichierImage" class="form-control" required>
      <div [hidden]="cheminFichierImage.valid || cheminFichierImage.pristine" class="alert alert-danger">
        Champ obligatoire
      </div>
    </div>
    


    <button class="btn btn-primary" type="submit"  [disabled]="!articleForm.form.valid">Enregistrer</button>
  </form>
</div>
