<!-- Footer -->
<footer class="page-footer font-small bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright:
    <a href="#"> Info4Matos</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->